.dashboard {

}

@media screen and (max-width: 600px) {
    .comment-mobile {
      width: 90%;
    }
  }

  .logout-button {
    position: absolute;
    top: 12px;
    left: 63px;
    padding-right: 15px;
  }